<h1>Screenplays</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @screenplays.each do |screenplay| %>
      <tr>
        <td><%= link_to screenplay.name, screenplay %></td>
        <td><%= link_to 'Edit View', screenplay %> |
            <%= link_to 'Print View', :controller => 'screenplays', :action => 'export', :id => screenplay.id %> |
            <%= link_to 'Details', edit_screenplay_path(screenplay) %> |
            <%= link_to 'Delete', screenplay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Screenplay', new_screenplay_path, :class => 'btn', :method => 'get' %>
