<h1><%= @screenplay.name %></h1>
<ul id="all-blocks">  
<% @blocks.each do |block| %>
  <li id="block_<%= block.id %>" class="ui-state-default">
    <div style="float:right;">
      <%= link_to 'Delete', block, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>    
    <b><%= best_in_place block, :block_type_id, :type => :select, :collection => @block_types.map { |p| [p.id, p.name] } %></b><br />
    <%= best_in_place block, :body, :type => :textarea %>
  </li>
<% end %>
</ul><br>

<%= form_for(@block, remote: true) do |f| %>
  <%= f.label :block_type_id %><br>
  <%= f.select(:block_type_id, BlockType.all.collect {|p| [ p.name, p.id ] }) %><br>
  <%= f.label :body %><br>
  <%= f.text_area :body, :class => 'textarea-normal' %><br>
  <%= f.hidden_field :screenplay_id, :value => params[:id] %><br>
  <%= f.hidden_field :position %><br>
  <%= f.submit 'Save', :class => 'btn' %>
<% end %>