<%= form_for(@block) do |f| %>
  <% if @block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
      <% @block.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :screenplay_id %><br>
    <%= f.select(:screenplay_id, Screenplay.all.collect {|p| [ p.name, p.id ] }) %><br>
    <%= f.label :block_type_id %><br>
    <%= f.select(:block_type_id, BlockType.all.collect {|p| [ p.name, p.id ] }) %><br>
    <%= f.label :body %><br>
    <%= f.text_area :body %><br>
    <%= f.label :position %><br>
    <%= f.select(:position, (0..99).to_a) %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
