<h1>Listing blocks</h1>
<ul id="all-blocks">  
<% @blocks.each do |block| %>
  <li class="ui-state-default">
    <div style="float:right;">
      <%= link_to 'Show', block %> |
      <%= link_to 'Edit', edit_block_path(block) %> |
      <%= link_to 'Destroy', block, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>    
    <b><%= best_in_place @blocks, :block_type_id, :type => :select, :collection => @block_types.map { |p| [p.id, p.name] } %></b><br />
    <%= best_in_place @blocks, :body, :type => :textarea %>
  </li>
<% end %>
</ul><br>

<%= button_to 'Add Block', new_block_path, :class => "btn add-block", :method => :get %>
