<h1>Listing action_blocks</h1>

<table>
  <thead>
    <tr>
      <th>Scene description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @action_blocks.each do |action_block| %>
      <tr>
        <td><%= action_block.scene_description %></td>
        <td><%= link_to 'Show', action_block %></td>
        <td><%= link_to 'Edit', edit_action_block_path(action_block) %></td>
        <td><%= link_to 'Destroy', action_block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Action block', new_action_block_path %>
