<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @character.alias %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
